/* Container / Inner
----------------------------------*/
.container {
	opacity: 0; // Fade in container on load with jQuery
	margin: 0 auto;
	padding: 0 1.5em;
	min-width: 15em;
	max-width: $container-max-width; }
	
/* Micro Clearfix - http://goo.gl/5Fvrh
----------------------------------*/
.cf {
	zoom : 1;
	
	&:before, &:after { content: ""; display: table; }
	&:after { clear : both; }
}	
	
/* Proportional Grids - http://goo.gl/JC1Nd
----------------------------------*/
@include grid-config;	
@include grid-setup("col");	