/* State rules override other styles in a given instance
 * Use .is- prefix when indicating specific state e.g. .is-shown, .is-current
 * READ MORE: http://goo.gl/Itlda
/*----------------------------------------------------------------------------------------*/
a:active, a:focus { position: relative; top: 1px; }

/* Hovers
----------------------------------*/
a:hover {
	color: $color-link-hover; }

%reset-hover {
	@include hover-reset; }
	
/* Visited
----------------------------------*/
a:visited {
	color: $color-link; }
	
.btn:visited {
	@extend .btn; }	

/* Classes
----------------------------------*/
.is-hidden { display: none; visibility: hidden; }
.is-vhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px; }