/* $. BASE
------------------------------------------------------------------------------------------*/
html { font-size: 125%; }
blockquote { padding-left: 2em; padding-right: 2em; }

/*----------------------------------------------------------------------------------------*/
/* $. LAYOUT
------------------------------------------------------------------------------------------*/
/* Proportional Grids
----------------------------------*/
@include grid-setup("bp2-col");

/*----------------------------------------------------------------------------------------*/
/* $. MODULES (and objects)
------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------*/
/* $. STATE
------------------------------------------------------------------------------------------*/
.is-bp2-shown { display: block; visibility: visible; }
.is-bp2-shown-inline { display: inline; visibility: visible; }

/*----------------------------------------------------------------------------------------*/
/* $. THEME
------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------*/
/* $. CMS
------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------*/
/* $. MODERNIZR
------------------------------------------------------------------------------------------*/

