/* $. BASE
------------------------------------------------------------------------------------------*/
html { font-size: 137.5%; }

/*----------------------------------------------------------------------------------------*/
/* $. LAYOUT
------------------------------------------------------------------------------------------*/
/* Proportional Grids
----------------------------------*/
@include grid-setup("bp4-col");

/*----------------------------------------------------------------------------------------*/
/* $. MODULES
------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------*/
/* $. STATE
------------------------------------------------------------------------------------------*/
.is-bp4-shown { display: block; visibility: visible; }
.is-bp4-shown-inline { display: inline; visibility: visible; }

/*----------------------------------------------------------------------------------------*/
/* $. THEME
------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------*/
/* $. CMS
------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------*/
/* $. MODERNIZR
------------------------------------------------------------------------------------------*/
