/*----------------------------------------------------------------------------------------*/
/* $. BASE
------------------------------------------------------------------------------------------*/


/* $. LAYOUT
------------------------------------------------------------------------------------------*/
/* Proportional Grids
----------------------------------*/
@include grid-setup("bp1-col");

/* Flip .media-img to the opposite side by adding .l-media-flipped to .media */
.l-media-flipped .media-img {
	float: right;
	margin-right: 0;
	margin-left: $media-img-gutter; }

/* $. MODULES (and objects)
------------------------------------------------------------------------------------------*/
/* Media Object
----------------------------------*/
//.media { @extend .cf; } - Add .cf class for true OOCSS

.media-body {
	/* basic usage */
	/*overflow: hidden;*/
	
	// OR
	
	/* if box-shadow needed - http://goo.gl/INzhl */
	display: table-cell;
    width: 10000px;
    *width: auto;
    *zoom:1; }

.media-img {
	float: left;
	margin-bottom: 0;
	margin-right: $media-img-gutter;
	
	img {
		margin-bottom: 0; }
	
}

/* $. STATE
------------------------------------------------------------------------------------------*/
.is-bp1-shown { display: block; visibility: visible; }
.is-bp1-shown-inline { display: inline; visibility: visible; }

/* $. THEME
------------------------------------------------------------------------------------------*/


/* $. CMS
------------------------------------------------------------------------------------------*/
.alignleft { float: left; margin-right: $media-img-gutter; margin-bottom: $baseline; }
.alignright { float: right; margin-left: $media-img-gutter; margin-bottom: $baseline; }

/* $. MODERNIZR
------------------------------------------------------------------------------------------*/
