// Import Mixd modules
@import "../libs/mixd-modules";	

/* Media Object - http://goo.gl/Xf6MJ
----------------------------------*/
/*
<div class="media cf">
	<img class="media-img" src="..." />
	<div class="media-body">
		<p>...</p>
	</div>
</div>

- OR -

<div class="media cf">
	<div class="media-img">
		<h2>...</h2>
	</div>
	<div class="media-body">
		<p>...</p>
	</div>
</div>
*/

.media {
	margin-bottom: $baseline;
	
	// Add .cf class for true OOCSS
	// @include respond-min($bp1) {
	//     .media { @extend .cf; }
	// }		
	
}
	
.media-img img {
	margin-bottom: $baseline;
	
	@include respond-min($bp1) {
		margin-bottom: 0; }	
}


.media-body {

	@include respond-min($bp1) {
	
		/* basic usage */
		/*overflow: hidden;*/
		
		// OR
		
		/* if box-shadow needed - http://goo.gl/INzhl */
		display: table-cell;
	    width: 10000px;
	    *width: auto;
	    *zoom:1; }

}

.media-body :last-child {
	margin-bottom: 0; }	

.media-img {
	
	@include respond-min($bp1) {
		float: left;
		margin-bottom: 0;
		margin-right: $media-img-gutter; }
}
	
/* Island Object - http://goo.gl/1XYHG
----------------------------------*/
.island {
	padding: $island-padding;
	
	> :last-child {
		margin-bottom: 0; }
	
}

.islet {
	padding: $islet-padding; }

	
/* Nav Object - http://goo.gl/QjtO6
----------------------------------*/
.nav-inline {

	li,
	a {
		display: inline-block;
		*display:inline;
        zoom:1; }
	
}

// Use this to close whitespace gap between <li>'s
.nav-floated {
	//@extend .cf; - Add .cf class for true OOCSS
	 
	li {
		float: left; }
	
}

// Extends .nav-inline with dividers
.nav-divided {

	li {
		border-left: 1px solid; }
	
	:first-child {
	    border-left: none; }

}

.nav-stacked {

	li {
		display: list-item;
		margin-bottom: 0; }
	
	a {
		display: block;
		padding: .5em 0; }

}

/* Tertiary Nav
----------------------------------*/
.nav-tertiary {

	a {
		padding: 0 .75em; }
		
	:first-child a {
		padding-left: 0; }	
}

/* Blocked Nav Object
----------------------------------*/
.nav-blocked a {
	display: block;
	padding: .5em; }
	
/* Responsive Search Box
----------------------------------*/
@include responsive-search-box;