a:active, a:focus { position: relative; top: 1px; }

/* Hovers
----------------------------------*/
a:hover {
	color: $color-link-hover; }

%reset-hover {
	@include hover-reset; }
	
/* Visited
----------------------------------*/
a:visited {
	color: $color-link; }
	
.btn:visited {
	@extend .btn; }	

/* Show / Hide Elements
----------------------------------*/
.is-hidden { display: none; visibility: hidden; }
.is-vhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px; }

%is-shown { display: block; visibility: visible; }
.is-shown-inline { display: inline; }

@include respond-min($bp1) {
	.is-bp1-shown { @extend %is-shown }
}	
@include respond-min($bp2) {
	.is-bp2-shown { @extend %is-shown }
}
@include respond-min($bp3) {
	.is-bp3-shown { @extend %is-shown }
}
@include respond-min($bp4) {
	.is-bp4-shown { @extend %is-shown }
}			