/* Theme Classes
----------------------------------*/
.brand {
	color: $color-brand; }
	
.brand-bg {
	background-color: $color-brand; } 	 

/* Nav Objects
----------------------------------*/
.nav-divided li { border-left-color: #999; }
.nav-blocked a { background-color: #F5F5F5; }

.nav-tertiary {
	@include respond-min(44em) {
		li {
			border-left-color: #999; }
			
		a {
			background-color: transparent;	}
	}		
}

/* Footer
----------------------------------*/
small {
	text-align: center; }

/*----------------------------------------------------------------------------------------*/
/* Icon Fonts
/*----------------------------------------------------------------------------------------*/
@charset "UTF-8";
@include icon-font;

// place icon font classes/codes here
